{
    "type": "EOA",
    "consensusContract": "AggchainECDSA",
    "consensusContractAddress": "",
    "polygonRollupManagerAddress": "0x9A676e781A523b5d0C0e43731313A708CB607508",
    "verifierAddress": "",
    "description": "Type: Validium, Version: etrog, genesis: /ipfs/QmUXnRoPbUmZuEZCGyiHjEsoNcFVu3hLtSvhpnfBS2mAYU",
    "forkID": 0,
    "timelockDelay": 864000,
    "timelockSalt": "",
    "deployerPvtKey": "",
    "maxFeePerGas":"",
    "maxPriorityFeePerGas":"",
    "multiplierGas": "",
    "genesisRoot": "0x94b582467640b62fb5d97bcd4a84091c2e27948a77b8e68fe786b5b9a454a414",
    "programVKey": "0xaabbccddeeff00112233445566778899aabbccddeeff00112233445566778899"
}
